<template>
  
  <div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
   <div class="br-mainpanel">
      <h1 class="is-size-3">Істер тізімі</h1>
      <p class="subtitle is-6">Жоспарлаған істер тізімін енгізіңіз</p>
    </div>
    <div class="br-pagebody mg-t-5 pd-x-30" style="margin-left:300px;">
      <board />
    </div>
  </div>
</template>

<script>
import Board from './views/elements/Board'
import LeftMenu from './../../../../components/Editor/PageComponents/Menus/Left';

import RightMenu from './../../../../components/Editor/PageComponents/Menus/Right';

import TopMenu from './../../../../components/Editor/PageComponents/Menus/Top';
export default {
  components: {
    'top-menu': TopMenu,
    'left-menu': LeftMenu,
    'right-menu': RightMenu,
    Board
  }
}
</script>

<style lang="scss">
  html, body {
    height: 100%;
    overflow-x: scroll;
  }

  body {
    padding: 20px;
  }
</style>
   