<template>
  <div :style="{height:height+'px'}">
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
    <div class="br-pagebody mg-t-60 pd-x-30" style="height:100%">
      <div class="calendar-controls" style="margin-left:300px">
        <div v-if="message" class="notification is-success">{{ message }}</div>

        <div class="box">
          <h4 class="title is-5">Play with the options!</h4>

          <div class="field">
            <label class="label">Period UOM</label>
            <div class="control">
              <div class="select">
                <select v-model="displayPeriodUom">
                  <option>month</option>
                  <option>week</option>
                  <option>year</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Period Count</label>
            <div class="control">
              <div class="select">
                <select v-model="displayPeriodCount">
                  <option :value="1">1</option>
                  <option :value="2">2</option>
                  <option :value="3">3</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Starting day of the week</label>
            <div class="control">
              <div class="select">
                <select v-model="startingDayOfWeek">
                  <option v-for="(d, index) in dayNames" :value="index" :key="index">{{ d }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Today Button</label>
            <label class="checkbox">
              <input v-model="useTodayIcons" type="checkbox">
              Icons
            </label>
          </div>

          <div class="field">
            <label class="label">Themes</label>
            <label class="checkbox">
              <input v-model="useDefaultTheme" type="checkbox">
              Default
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input v-model="useHolidayTheme" type="checkbox">
              Holidays
            </label>
          </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-primary btn-with-icon" @click="show" style="width:200px">
          <div class="ht-40">
            <span class="icon wd-40">
              <i class="fa fa-plus"></i>
            </span>
            <span class="pd-x-35">Event қосу</span>
          </div>
        </a>
        <modal name="xa">
          <div class="box" style="padding:15px;">
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input v-model="newEventTitle" class="input" type="text">
              </div>
            </div>

            <div class="field">
              <label class="label">Start date</label>
              <div class="control">
                <input v-model="newEventStartDate" class="input" type="date">
              </div>
            </div>

            <div class="field">
              <label class="label">End date</label>
              <div class="control">
                <input v-model="newEventEndDate" class="input" type="date">
              </div>
            </div>

            <button class="btn btn-info width-150" @click="clickTestAddEvent">Сақтау</button>
            <button class="btn btn-transparent width-150" @click="hide">Жабу</button>
          </div>
        </modal>
      </div>
      <div class="calendar-parent" style="margin-left:300px;">
        <calendar-view
          :style="{height:this.calendarHeight+'px',marginLeft:this.calendarMargin+'px'}"
          :events="events"
          :show-date="showDate"
          :time-format-options="{hour: 'numeric', minute:'2-digit'}"
          :enable-drag-drop="true"
          :disable-past="disablePast"
          :disable-future="disableFuture"
          :show-event-times="showEventTimes"
          :display-period-uom="displayPeriodUom"
          :display-period-count="displayPeriodCount"
          :starting-day-of-week="startingDayOfWeek"
          :class="themeClasses"
          :period-changed-callback="periodChanged"
          :current-period-label="useTodayIcons ? 'icons' : ''"
          @drop-on-date="onDrop"
          @click-date="onClickDay"
          @click-event="onClickEvent"
        >
          <calendar-view-header
            slot="header"
            slot-scope="{ headerProps }"
            :header-props="headerProps"
            @input="setShowDate"
          />
        </calendar-view>
      </div>
    </div>
  </div>
</template>
   <script>
require("vue-simple-calendar/static/css/default.css");
require("vue-simple-calendar/static/css/holidays-us.css");
import LeftMenu from "../../components/Editor/PageComponents/Menus/Left.vue";
import RightMenu from "../../components/Editor/PageComponents/Menus/Right.vue";
import TopMenu from "../../components/Editor/PageComponents/Menus/Top.vue";
import {
  CalendarView,
  CalendarViewHeader,
  CalendarMathMixin
} from "vue-simple-calendar";
export default {
  components: {
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu,
    CalendarView,
    CalendarViewHeader
  },

  mixins: [CalendarMathMixin],
  data() {
    return {
      /* Show the current month, and give it some fake events to show */
      calendarMargin: 50,
      height: 0,
      calendarHeight: 0,
      showDate: this.thisMonth(1),
      message: "",
      startingDayOfWeek: 0,
      disablePast: false,
      disableFuture: false,
      displayPeriodUom: "month",
      displayPeriodCount: 1,
      showEventTimes: true,
      newEventTitle: "",
      newEventStartDate: "",
      newEventEndDate: "",
      useDefaultTheme: true,
      useHolidayTheme: true,
      useTodayIcons: false,
      events: [
        {
          id: "e0",
          startDate: "2018-01-05"
        },
        {
          id: "e1",
          startDate: this.thisMonth(15, 18, 30)
        },
        {
          id: "e2",
          startDate: this.thisMonth(15),
          title: "Single-day event with a long title"
        },
        {
          id: "e3",
          startDate: this.thisMonth(7, 9, 25),
          endDate: this.thisMonth(10, 16, 30),
          title: "Multi-day event with a long title and times"
        },
        {
          id: "e4",
          startDate: this.thisMonth(20),
          title: "My Birthday!",
          classes: "birthday",
          url: "https://en.wikipedia.org/wiki/Birthday"
        },
        {
          id: "e5",
          startDate: this.thisMonth(5),
          endDate: this.thisMonth(12),
          title: "Multi-day event",
          classes: "purple"
        },
        {
          id: "foo",
          startDate: this.thisMonth(29),
          title: "Same day 1"
        },
        {
          id: "e6",
          startDate: this.thisMonth(29),
          title: "Same day 2",
          classes: "orange"
        },
        {
          id: "e7",
          startDate: this.thisMonth(29),
          title: "Same day 3"
        },
        {
          id: "e8",
          startDate: this.thisMonth(29),
          title: "Same day 4",
          classes: "orange"
        },
        {
          id: "e9",
          startDate: this.thisMonth(29),
          title: "Same day 5"
        },
        {
          id: "e10",
          startDate: this.thisMonth(29),
          title: "Same day 6",
          classes: "orange"
        },
        {
          id: "e11",
          startDate: this.thisMonth(29),
          title: "Same day 7"
        }
      ]
    };
  },
  computed: {
    userLocale() {
      return this.getDefaultBrowserLocale;
    },
    dayNames() {
      return this.getFormattedWeekdayNames(this.userLocale, "long", 0);
    },
    themeClasses() {
      return {
        "theme-default": this.useDefaultTheme,
        "holiday-us-traditional": this.useHolidayTheme,
        "holiday-us-official": this.useHolidayTheme
      };
    }
  },
  created() {
    this.height = screen.height;
    this.calendarHeight = this.height * 0.8;
    console.log("xx", this.height);
    localStorage.setItem("calendar",JSON.stringify(this.events));
  },
  mounted() {
    this.newEventStartDate = this.isoYearMonthDay(this.today());
    this.newEventEndDate = this.isoYearMonthDay(this.today());
  },

  methods: {
    show() {
      this.$modal.show("xa");
    },
    hide() {
      this.$modal.hide("xa");
    },
    periodChanged(range, eventSource) {
      // Demo does nothing with this information, just including the method to demonstrate how
      // you can listen for changes to the displayed range and react to them (by loading events, etc.)
      console.log(eventSource);
      console.log(range);
    },
    thisMonth(d, h, m) {
      const t = new Date();
      return new Date(t.getFullYear(), t.getMonth(), d, h || 0, m || 0);
    },
    onClickDay(d) {
      this.message = `You clicked: ${d.toLocaleDateString()}`;
    },
    onClickEvent(e) {
      this.message = `You clicked: ${e.title}`;
    },
    setShowDate(d) {
      this.message = `Changing calendar view to ${d.toLocaleDateString()}`;
      this.showDate = d;
    },
    onDrop(event, date) {
      this.message = `You dropped ${event.id} on ${date.toLocaleDateString()}`;
      // Determine the delta between the old start date and the date chosen,
      // and apply that delta to both the start and end date to move the event.
      const eLength = this.dayDiff(event.startDate, date);
      event.originalEvent.startDate = this.addDays(event.startDate, eLength);
      event.originalEvent.endDate = this.addDays(event.endDate, eLength);
    },
    clickTestAddEvent() {
      this.events.push({
        startDate: this.newEventStartDate,
        endDate: this.newEventEndDate,
        title: this.newEventTitle,
        id:
          "e" +
          Math.random()
            .toString(36)
            .substr(2, 10)
      });
      localStorage.setItem("calendar",JSON.stringify(this.events));
      this.message = "You added an event!";
      this.hide();
      this.newEventStartDate=null;
      this.newEventEndDate=null;
      this.newEventTitle=null;
    }
  }
};
</script>

<style>
html,
body {
  height: 100%;
  background-color: #f7fcff;
}

.calendar-controls {
  margin-top: 20px;

  float: left;
}

.calendar-parent {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 100px;
}

/* For long calendars, ensure each week gets sufficient height. The body of the calendar will scroll if needed */
.cv-wrapper.period-month.periodCount-2 .cv-week,
.cv-wrapper.period-month.periodCount-3 .cv-week,
.cv-wrapper.period-year .cv-week {
  min-height: 6rem;
}

/* These styles are optional, to illustrate the flexbility of styling the calendar purely with CSS. */

/* Add some styling for events tagged with the "birthday" class */
.theme-default .cv-event.birthday {
  background-color: #e0f0e0;
  border-color: #d7e7d7;
}

.theme-default .cv-event.birthday::before {
  content: "\1F382"; /* Birthday cake */
  margin-right: 0.5em;
}

</style>
