<template>
  <div class="br-section-wrapper" style="min-height:400px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.fillblank }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 mg-t-10" v-for="cl in classics">
                <div class="card">
                  <div class="card-body color-gray-lighter" v-html="cl.question"></div>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-primary" @click="addClassicAnswer(cl.id)">Жауабы</a>
                    <div style="float:right;">
                      <a href="javascript:void(0)" class="btn btn-primary btn-icon" @click="editClassicQuestion(cl.id)">
                        <div><i class="fa fa-edit"></i></div>
                      </a>
                      <a href="javascript:void(0)" class="btn btn-danger btn-icon" @click="removeClassicQuestion(cl.id)">
                        <div><i class="fa fa-close"></i></div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary width-100 mg-t-10" @click="addClassicQuestion">Сәйкестендіру нұсқасын қосу</button>
          </div>
          <div class="col-sm-12 text-right mg-t-10" v-show="classics.length > 0">
            <a href="javascript:void(0)" class="btn btn-light btn-with-icon" @click="preview">
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-eye"></i></span>
                <span class="pd-x-15">Алдын-ала қарау</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="$emit('back')">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'

import AddClassicQuestionVue from './Answers/AddClassicQuestion.vue';
import EditClassicQuestionVue from './Answers/EditClassicQuestion.vue';
import AddClassicAnswerVue from './Answers/AddClassicAnswer.vue';

import PreviewClassicAnswerVue from './Preview/PreviewClassicAnswer.vue';

export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},

      classics:[]
    }
  },
  methods: {
    setup: function(){
      
    },
    nextStep: function(){
      this.$emit('next')
    },

    addClassicQuestion: function(){
      this.$modal.show(AddClassicQuestionVue, {
          bank: this.classics
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },
    editClassicQuestion:function(id){
      this.$modal.show(EditClassicQuestionVue, {
          bank: this.classics,
          questionID: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    addClassicAnswer: function(id){
      this.$modal.show(AddClassicAnswerVue, {
          bank: this.classics,
          questionID: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    removeClassicQuestion: function(id){
      this.$swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          var newonevariant = []
          this.classics.forEach(element => {
            if(element.id != id)
              newonevariant.push(element)
          });

          this.classics = newonevariant

          this.$swal("Poof! Your imaginary file has been deleted!", {
            icon: "success",
          });
        } else {
          this.$swal("Your imaginary file is safe!");
        }
      });
    },

    preview: function(){
      this.$modal.show(PreviewClassicAnswerVue, {
          bank: this.classics,
          content: this.content,
          title: this.builder.title
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    makeid : function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }

  .width-100{
    width: 100%;
  }
</style>
