<template>
  <div class="br-section-wrapper" style="min-height:400px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.fillblank }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <div class="row">
              <vue-editor v-model="content" :config="instructions.config.editor" />
            </div>
          </div>
          <div id="preview" v-html="content"></div>

          <div class="col-sm-12 text-right mg-t-10" v-show="showPreview">

            <a href="javascript:void(0)" class="btn btn-light btn-with-icon" @click="preview" >
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-eye"></i></span>
                <span class="pd-x-15">Алдын-ала қарау</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="$emit('back')">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесіwws</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'

import AddMatchingQuestionVue from './Answers/AddMatchingQuestion.vue';
import EditMatchingQuestionVue from './Answers/EditMatchingQuestion.vue';
import AddMatchingAnswerVue from './Answers/AddMatchingAnswer.vue';

import FillMatchinPreviewVue from './Preview/FillMatchinPreview.vue';

export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},
      content: '',
      showPreview: false
    }
  },
  watch: {
    content:function(){
      this.showPreview = $('#preview').find('input').length > 0 ? true : false;
    }
  },
  methods: {
    setup: function(){
      
    },
    nextStep: function(){
      this.$emit('next')
    },

    AddMatchingQuestion: function(){
      this.$modal.show(AddMatchingQuestionVue, {
          bank: this.matching
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },
    EditMatchingQuestion:function(id){
      this.$modal.show(EditMatchingQuestionVue, {
          bank: this.matching,
          questionID: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    AddMatchingAnswer: function(id){
      this.$modal.show(AddMatchingAnswerVue, {
          bank: this.matching,
          questionID: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    removeClassicQuestion: function(id){
      this.$swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          var newonevariant = []
          this.matching.forEach(element => {
            if(element.id != id)
              newonevariant.push(element)
          });

          this.matching = newonevariant

          this.$swal("Poof! Your imaginary file has been deleted!", {
            icon: "success",
          });
        } else {
          this.$swal("Your imaginary file is safe!");
        }
      });
    },

    preview: function(){
      this.$modal.show(FillMatchinPreviewVue, {
          content: this.content,
          title: this.builder.title
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    makeid : function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }

  .width-100{
    width: 100%;
  }
</style>
