<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.fillblank }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <h6>Сұрақтың мазмұны:</h6>
            <vue-editor v-model="content" :config="instructions.config.editor" />
            <br>
            <a href="javascript:void(0)" style="float:right;" class="btn btn-primary btn-with-icon" @click="selectthis">
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-refresh"></i></span>
                <span class="pd-x-15">Генерациялау</span>
              </div>
            </a>
            <a href="javascript:void(0)" style="float:right;margin-right:10px;" class="btn btn-light btn-with-icon" @click="FieldVariantPreview" v-if="content != ''">
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-eye"></i></span>
                <span class="pd-x-15">Алдын-ала қарау</span>
              </div>
            </a>
            <h5>Жауаптар: </h5>
            
            <br>
            
            <div class="row">
              <div class="col-sm-12">
                  <a href="javascript:void(0)" @click="opemBlankEditor(inputing.id)" style="margin-right:15px;" class="btn btn-primary color--white" v-for="inputing in inputs">{{inputing.name}}</a>
              </div>
            </div>
            <div id="divka" v-html="content" style="display:none;"></div>
          <!---
          <div class="row">
              <div class="col-sm-12">
                  <button class="btn btn-primary mg-l-10" v-for="input in values">{{input.value}}</button>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="previousStep">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'
import EditFillBlankInputVue from './Answers/EditFillBlankInput.vue';
import Preview from './Preview/FeildBlankVariantPreview.vue';
export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},
      values:[],
      content: '',
      inputs: [],
    }
  },
  methods: {
    setup: function(){
      
    },
    nextStep: function(){
      this.$emit('next', this.builder.variant, this.content, this.inputs)
    },

    selectthis: function(){
     // this.values=JSON.parse(localStorage.getItem("variantValues"));
      
      var generator = []
      $("#divka input").each(function() {
        var name = $(this).attr('class').replace(/ /g,'').replace(/[&\/\\#,+()$~%.'":*?<>{}]/g, '')
        var maxlen =  $(this).attr('maxlength')
        
        generator.push({
          name: name,
          answers: [],
          maxlen: maxlen
        })
      });

      generator.forEach(element => {
        element.id = this.makeid()
      });

      generator.forEach(el => {
        this.inputs.forEach(ele => {
          if(el.name == ele.name){
            el.answers = ele.answers
          }
        });
      });

      this.inputs = generator;
      
    },
    
    makeid : function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    },
    FieldVariantPreview: function(){
      this.$modal.show(Preview, {
          bank: this.inputs,
          content: this.content,
          title: this.builder.title
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },
    opemBlankEditor: function(id){
      this.$modal.show(EditFillBlankInputVue, {
          bank: this.inputs,
          answerid: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 
          }
      })
    },previousStep(){
      localStorage.removeItem('variantValues')
      this.$emit('back');
    }
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  },
  mounted(){
    console.log("mounted")
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
