<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.init }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <h6>Сұрақтың мазмұны:</h6>
            <vue-editor v-model="content" :config="instructions.config.editor"  />
            <br>
            <a href="javascript:void(0)" style="float:right;" class="btn btn-primary btn-with-icon" @click="addOneVarieantAnswer" v-if="oneVariant.length <= variants.length">
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-plus"></i></span>
                <span class="pd-x-15">Жауап қосу</span>
              </div>
            </a>
            <a href="javascript:void(0)" style="float:right;margin-right:10px;" class="btn btn-light btn-with-icon" @click="OneVarieantPreview" v-if="oneVariant.length > 0 && content != ''">
              <div class="ht-40" >
                <span class="icon wd-40"><i class="fa fa-eye"></i></span>
                <span class="pd-x-15">Алдын-ала қарау</span>
              </div>
            </a>
            <h6>Жауаптар: </h6>
            
            <div class="row mg-t-60" v-if="oneVariant.length > 0">
              <div class="col-sm-12" v-for="(value, index) in oneVariant">
                <div class="row" >
                  <div class="col-sm-1 text-center">
                    <span :style="value.isAnswer ? 'color:green; font-size:18px; font-weight:bold;': ''">{{variants[index]}}</span>
                  </div>
                  <div class="col-sm-9" v-html="value.content">
                  </div>
                  <div class="col-sm-2 text-center" style="padding-top:10px;">
                    <a href="javascript:void(0)" @click="editAnswer(value.id)" class="btn btn-primary rounded-circle btn-icon" :style="value.content.length < 200 ? 'margin-top:0px;': 'margin-top:20px;'">
                      <div><i class="fa fa-edit"></i></div>
                    </a>
                    <a href="javascript:void(0)" @click="removeAnwser(value.id)" class="btn btn-danger rounded-circle btn-icon" :style="value.content.length < 200 ? 'margin-top:0px;': 'margin-top:20px;'">
                      <div><i class="fa fa-close"></i></div>
                    </a>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="row mg-t-20" v-if="oneVariant.length == 0">
              <div class="col-sm-12">
                <h4>Жауап енгізілмеді</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="$emit('back')">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import VueCkeditor from 'vue-ckeditor2';

import addAnswer from './Answers/AddOneVariantAnswer';
import editAnswer from './Answers/EditOneVariantAnswer';
import Preview from './Preview/OneVariantPreview.vue';
//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'
export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},

      content: '',
      oneVariant: [],
      variants: ['A) ', 'B) ', 'C) ', 'D) ', 'E) ', 'F) ', 'G) ', 'H) ', 'I) ', 'J) ']
    }
  },
  methods: {
    setup: function(){
      
    },
    addOneVarieantAnswer: function(){
      this.$modal.show(addAnswer, {
          bank: this.oneVariant
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => {}
      })
    },

    editAnswer: function(id){
      this.$modal.show(editAnswer, {
          bank: this.oneVariant,
          answerid: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    removeAnwser: function(id){
      this.$swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          var newonevariant = []
          this.oneVariant.forEach(element => {
            if(element.id != id)
              newonevariant.push(element)
          });

          this.oneVariant = newonevariant

          this.$swal("Poof! Your imaginary file has been deleted!", {
            icon: "success",
          });
        } else {
          this.$swal("Your imaginary file is safe!");
        }
      });
    },

    OneVarieantPreview: function(){
      this.$modal.show(Preview, {
          bank: this.oneVariant,
          content: this.content,
          title: this.builder.title
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })
    },

    nextStep: function(){
      this.$emit('next', this.builder.variant, this.content, this.oneVariant)
    }
    
  },
  created() {
    this.setup();

    this.instructions = instructionsInit
  }
  
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
