<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Алдын-ала қарау: <span style="color:#4CAF50">{{ title }}</span></h6>
        <hr>
        <div id="previewVue" v-html="content"></div>
        <div class="row">
          <div class="col-sm-12">
            <ul style="padding-left: 0px;">
              <li class="btn btn-primary mg-r-10" v-for="span in spans">{{span}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props:[
   'content', 'title'
  ],
  data: function () {
    return {
      spans: []
    };
  },
  methods: {
    handleDrop(data) {
      this.over = false;
      //alert(`You dropped with data: ${JSON.stringify(data)}`);
    },
  },
  created() {
    var arr = []
    var preview = this.content
    $( document ).ready(function() {
      $('#previewVue').find('input').each(function() {
        $(this).replaceWith( "<span class=\"btn btn-secondary resetter\" style=\"min-width: 150px;display: inline-block;margin-left:5px;margin-right:5px;\"></span>" );
        arr.push(this.value)
      });

      $('.resetter').on('click', function(){
        $(this).text('');
      });
    });
    
    this.spans = arr

    $(document).ready(function() {
    $("span").droppable({
      accept: "ul > li",
      classes: {
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function(event, ui) {
        var dragedElement = ui.draggable.text();
        $(this).addClass("ui-state-highlight");
        $(this).html(dragedElement);
        $(this).addClass('matched');  
      }
    });

    $("ul li").draggable({
      helper:"clone",
      revert: "invalid"
    });
  
  })
    
  },
}
</script>

<style scoped>
  .card{
    margin-top:20px;
    padding:5px;
    cursor:pointer;
  }

  span.droppable{
    width: 100px;
    display: inline-block;
    height: 20px;
    background: #ffffff;
  }
</style>
